---
import Layout from '@layouts/Layout.astro'
import AlbumCards from '@components/Home/AlbumCards.astro'
---
<Layout title="Yasc">
	<content class="flex flex-col bg-gradient-to-b from-sky-900 to-60% w-full h-full rounded-lg">
		<div class="ml-10 my-10 text-5xl">Bienvenido!</div>
		<AlbumCards />
	</content>
</Layout>